<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.banxing.demo.domain.mapper.OrderMapper">


    <select id="getStatusByIdAndCode" resultType="java.lang.Integer">
        select order_status from order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTutorIdByCode" resultType="java.lang.String">
        select tutor_id from order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getStatusAndVersionByCode" resultMap="map">
        select
        order_status as status
        version as version
        from order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTotalCostByCode" resultType="java.math.BigDecimal">
        select total_cost from order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

</mapper>
