<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.banxing.demo.domain.mapper.OrderMapper">

    <select id="getErrorOrderCode" resultType="java.lang.String">
        select id from banxing_order
        where error_flag = 1 and row_status = 0
    </select>

    <select id="getAutoCommentOrderInfo" resultType="java.util.Map">
        select
        id as orderCode,
        user_id as userId,
        tutor_id as tutorId,
        consultation_type as consultationType
        from banxing_order
        where comment_status = 0 and row_status = 0
        <![CDATA[and reserve_end_time < DATE_ADD(NOW(), INTERVAL 2 DAY) ]]>
    </select>

    <select id="getStatusByCode" resultType="java.lang.Integer">
        select order_status from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTutorIdByCode" resultType="java.lang.String">
        select tutor_id from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTutorInfoByOrderCode" resultType="java.util.Map">
        select
        tutor_id as tutorId,
        consultation_type as consultationType
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getUserIdByOrderCode" resultType="java.lang.String">
        select user_id from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getStatusAndVersionByCode" resultType="java.util.Map">
        select
        order_status as status,
        version as version
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTotalCostByCode" resultType="java.math.BigDecimal">
        select total_cost from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getOrderCountByTutorIdAndProcessFlag" resultType="java.lang.Long">
        select count(*) from banxing_order
        where tutor_id = #{tutorId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and order_status = #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and order_status > #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getOrderCountByUserIdAndProcessFlag" resultType="java.lang.Long">
        select count(*) from banxing_order
        where user_id = #{userId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and order_status <![CDATA[<]]> #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and order_status >= #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getCommentOrderCountByUserIdAndProcessFlag" resultType="java.lang.Long">
        select count(*) from banxing_order
        where user_id = #{userId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and comment_status = #{commentStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and comment_status > #{commentStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getReplyOrderCountByUserIdAndProcessFlag" resultType="java.lang.Long">
        select count(*) from banxing_order
        where user_id = #{userId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and tutor_status = #{tutorStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and tutor_status > #{tutorStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getScheduleCountByUserId" resultType="java.lang.Long">
        select count(*) from banxing_order
        where user_id = #{userId, jdbcType = VARCHAR}
        and tutor_status = #{tutorStatus, jdbcType = INTEGER}
        <if test="processFlag != null and processFlag">
            and order_status <![CDATA[<]]> #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and order_status >= #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getScheduleCountByTutorId" resultType="java.lang.Long">
        select count(*) from banxing_order
        where tutor_id = #{tutorId, jdbcType = VARCHAR}
        and tutor_status = #{tutorStatus, jdbcType = INTEGER}
        <if test="processFlag != null and processFlag">
            and order_status <![CDATA[<]]> #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and order_status >= #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getOrderListByTutorIdAndProcessFlag" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.user_id = u.id
        where o.tutor_id = #{tutorId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and o.order_status = #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.order_status > #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and o.row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
        order by o.create_time desc, o.id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getOrderListByUserIdAndProcessFlag" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.tutor_id = u.id
        where o.user_id = #{userId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and o.order_status <![CDATA[<]]> #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.order_status >= #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and o.row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
        order by o.create_time desc, o.id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getReplyOrderListByUserIdAndProcessFlag" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.tutor_id = u.id
        where o.user_id = #{userId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and o.tutor_status = #{tutorStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.tutor_status > #{tutorStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and o.row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
        order by o.create_time desc, o.id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getReplyOrderListByUserIdAndProcessFlag" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.tutor_id = u.id
        where o.user_id = #{userId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and o.comment_status = #{commentStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.comment_status > #{commentStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and o.row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
        order by o.create_time desc, o.id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getScheduleListByUserId" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        o.conference_link as conferenceLink,
        o.conference_url as conferenceUrl,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.tutor_id = u.id
        where o.user_id = #{userId, jdbcType = VARCHAR}
        and o.tutor_status = #{tutorStatus, jdbcType = INTEGER}
        <if test="processFlag != null and processFlag">
            and o.order_status <![CDATA[<]]> #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.order_status >= #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and o.row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
        order by o.create_time desc , o.id desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getScheduleListByTutorId" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.user_id = u.id
        where o.tutor_id = #{tutorId, jdbcType = VARCHAR}
        and o.tutor_status = #{tutorStatus, jdbcType = INTEGER}
        <if test="processFlag != null and processFlag">
            and o.order_status <![CDATA[<]]> #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.order_status >= #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="rowStatus != null">
            and o.row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
        order by o.create_time desc , o.id desc
        limit #{offset}, #{pageSize}
    </select>


    <select id="getReserveOrderDetailByOrderCodeAndTutorId" resultType="java.util.Map">
        select
        id as orderCode,
        reserve_start_time as reserveStartTime,
        reserve_end_time as reserveEndTime,
        consultation_content as consultationContent,
        resume_url as resumeUrl,
        reject_reason as rejectReason,
        conference_link as conferenceLink,
        tutor_status as tutorStatus,
        user_id as userId
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
        and tutor_id = #{tutorId, jdbcType = VARCHAR}
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getCommentOrderDetailByOrderCodeAndUserId" resultType="java.util.Map">
        select
        id as orderCode,
        reserve_start_time as reserveStartTime,
        reserve_end_time as reserveEndTime,
        tutor_id as tutorId
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
        and user_id = #{userId, jdbcType = VARCHAR}
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getScheduleDetailByOrderCodeAndTutorId" resultType="java.util.Map">
        select
        id as orderCode,
        reserve_start_time as reserveStartTime,
        reserve_end_time as reserveEndTime,
        user_id as userId
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
        and tutor_id = #{tutorId, jdbcType = VARCHAR}
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getReplyOrderDetailByOrderCodeAndUserId" resultType="java.util.Map">
        select
        id as orderCode,
        reserve_start_time as reserveStartTime,
        reserve_end_time as reserveEndTime,
        reject_reason as rejectReason,
        conference_link as conferenceLink,
        tutor_id as tutorId
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
        and user_id = #{userId, jdbcType = VARCHAR}
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>

    <select id="getOrderConferenceInfoByOrderCode" resultType="java.util.Map">
        select
        reserve_start_time as reserveStartTime,
        reserve_end_time as reserveEndTime
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
        <if test="rowStatus != null">
            and row_status = #{rowStatus, jdbcType = TINYINT}
        </if>
    </select>


</mapper>
