<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.banxing.demo.domain.mapper.OrderMapper">


    <select id="getStatusByCode" resultType="java.lang.Integer">
        select order_status from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTutorIdByCode" resultType="java.lang.String">
        select tutor_id from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getStatusAndVersionByCode" resultType="java.util.Map">
        select
        order_status as status,
        version as version
        from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getTotalCostByCode" resultType="java.math.BigDecimal">
        select total_cost from banxing_order
        where id = #{orderCode, jdbcType = VARCHAR}
    </select>

    <select id="getOrderCountByTutorIdAndProcessFlag" resultType="java.lang.Long">
        select count(*) from banxing_order o
        where o.tutor_id = #{tutorId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and o.order_status = #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.order_status > #{orderStatus, jdbcType = INTEGER}
        </if>
    </select>

    <select id="getOrderListByTutorIdAndProcessFlag" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_date as reserveDate,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.user_id = u.id
        where o.tutor_id = #{tutorId, jdbcType = VARCHAR}
        <if test="processFlag != null and processFlag">
            and o.order_status = #{orderStatus, jdbcType = INTEGER}
        </if>
        <if test="processFlag != null and !processFlag">
            and o.order_status > #{orderStatus, jdbcType = INTEGER}
        </if>
        order by o.create_time asc, o.id asc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getOrderDetailByOrderCodeAndTutorId" resultType="java.util.Map">
        select
        o.id as orderCode,
        o.reserve_date as reserveDate,
        o.reserve_start_time as reserveStartTime,
        o.reserve_end_time as reserveEndTime,
        o.consultation_content as consultationContent,
        o.resume_url as resumeUrl,
        o.reject_reason as rejectReason,
        o.conference_link as conferenceLink,
        u.nick_name as userName
        from banxing_order o
        left join banxing_user u
        on o.user_id = u.id
        where o.id = #{orderCode, jdbcType = VARCHAR}
        and o.tutor_id = #{tutorId, jdbcType = VARCHAR}
    </select>


</mapper>
