<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.banxing.demo.domain.mapper.TutorMapper">

    <update id="updateCommentScore">
        update banxing_tutor
        set comment_score = comment_score + #{score, jdbcType = FLOAT}
        where id = #{openid, jdbcType = VARCHAR}
    </update>

    <select id="getStatusById" resultType="java.lang.Integer" parameterType="java.lang.String">
        select status from banxing_tutor where id = #{openid, jdbcType = VARCHAR}
    </select>

    <select id="getWorkTimeById" resultType="java.lang.String" parameterType="java.lang.String">
        select work_time from banxing_tutor where id = #{openid, jdbcType = VARCHAR}
    </select>

    <select id="getConsultationCost" resultType="java.math.BigDecimal" parameterType="java.lang.String">
        select consultation_cost from banxing_tutor where id = #{openid, jdbcType = VARCHAR}
    </select>

    <select id="getApplyInfoById" resultType="java.util.Map">
        select
        current_university as currentUniversity,
        current_profession as currentProfession,
        student_card_home as studentCardHome,
        student_card_info as studentCardInfo,
        student_card_register as studentCardRegister
        from banxing_tutor
        where id = #{openid, jdbcType = VARCHAR}
    </select>

    <select id="getTutorInfoById" resultType="java.util.Map">
        select
        nick_name as nickName,
        current_university as currentUniversity,
        current_profession as currentProfession
        from banxing_tutor
        where id = #{openid, jdbcType = VARCHAR}
    </select>


</mapper>
